<div class="container d-flex align-items-center justify-content-center">
    <div class="p-4 p-md-5 w-100">
        <h2 class="text-center mb-4 fw-bold">Contact</h2>

        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" placeholder="name" formControlName="name"
                    [ngClass]="{'is-invalid': submitted && f['name'].errors}">
                <label for="name">Name</label>
                <div class="invalid-feedback">
                    Please enter the name
                </div>
            </div>

            <div class="form-floating mb-3">
                <input type="tel" class="form-control" id="phone" placeholder="phone" formControlName="phone"
                    pattern="[0-9]{11}" [ngClass]="{'is-invalid': submitted && f['phone'].errors}">
                <label for="phone">Phone</label>
                <div class="invalid-feedback">
                    Please enter a valid phone number (11 digits).
                </div>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="address" placeholder="address" formControlName="address"
                    [ngClass]="{'is-invalid': submitted && f['address'].errors}">
                <label for="address">Address</label>
                <div class="invalid-feedback">
                    Please enter the address
                </div>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="notes" placeholder="notes" formControlName="notes"
                    [ngClass]="{'is-invalid': submitted && f['notes'].errors}">
                <label for="notes">Notes</label>
                <div class="invalid-feedback">
                    Please enter the notes
                </div>
            </div>

            <button type="submit" class="btn btn-success py-2" [disabled]="isLoading">
                <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2"></span>
                {{ isLoading ? contactId ? 'Updating...' : 'Adding...' : contactId ? 'Update' : 'Add' }}
            </button>
        </form>
    </div>
</div>